<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {% block title %}{% endblock %}
  </title>
</head>
<body>
<header>
  <a href="{% url 'tasks:todolist_list' %}">See todo lists</a> -
  <a href="{% url 'tasks:task_list' %}">See tasks</a>
</header>
<section>
  {% block content %}{% endblock %}
</section>
<footer>(c) Orsys 2022</footer>
<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous">
</script>
{% block javascript %}{% endblock %}
</body>
</html>
